<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/artsea/image/upload/v1644794185/artseatrans_uytxik.png" />
  <title>ArtSea</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {{!-- <link rel="stylesheet" type="text/css" href="/css/divTable.css"> --}}
</head>

<body>
  <div id="statusBar"></div>
  <header>
    <img src="https://res.cloudinary.com/artsea/image/upload/v1644794185/artseaBlkWht_spahbf.png" alt="ArtSea Logo" width="300vw">
  </header>
  <nav id="navBar">
  </nav>
  <main>
      <div class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="" id="imagepreview" alt="">
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      {{{body}}}
  </main>
  <footer class="flex-row justify-center">
    &copy; ArtSea Folks
  </footer>

</body>

</html>
<script src="/js/navbar.js"></script>
<script src="/js/add-to-registry.js"></script>
<script src="/js/apply-filter.js"></script>
<script src="/js/copy-to-clipboard.js"></script>
<script src="/js/like-art.js"></script>
<script src="/js/modal.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js"></script>
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>