<div class="grid-container">

    <div class="aboutus actionCards">

       <h1 class="cardTitles">Meet the Team</h1>
       
        <div class="grid-x grid-margin-x">
            <div class="medium-6 large-3 small-6 cell ju">
                <div class="card">
                    <div class="card-divider">
                          <h4 class="ournames">Chrissie Sparling</h4>
                    </div>
                    <div class="card-section">                   
                        {{!-- <img src="/images/chrissie.jpg" alt="steamPunk"> --}}
                        <p>If all the World is a Stage...I want Better Lighting!!!  #Washingtonian</p>
                         <a target="blank" href="https://github.com/ChrissieSparling">GitHub</a>     
                    </div>
                </div>
            </div>
            <div class="medium-6 large-3 small-6 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Bernardo Dibildox</h4> 
                    </div>
                    <div class="card-section">
                         {{!-- <img src="images/bernardo.jpg" alt="floating man"> --}}

                    <p>I am Bernardo, and all around artLover. I joined the team because I love the unique atmosphere.</p>
                    <a target="blank" href= "https://github.com/bdibil" class="github">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="medium-6 large-3 small-6 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Heather Loop</h4>
                    </div>
                    <div class="card-section">  
                        {{!-- <img src="images/heather.jpg" alt="spirit-art"> --}}
                    <p>I'm Happy Heather! Smiles are my game! I am an artist and art-coordinator. Recently, my goats had Kids and now I am the proud other Momma of 7 new goats...and still expecting more...great time to "GOAT' Crazy!!!</p>
                     <a target="blank" href="https://github.com/hloop132">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="medium-6 large-3 small-6 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Parul Raj</h4>
                    </div>
                    <div class="card-section">
                        
                        {{!-- <img src="/images/Parul.jpg" alt="beautiful peacock"> --}}
                        <p>I am so excited to be apart of the team. It's been truly enjoying looking at all the art that comes through the site.</p>
                        <a target="blank" href="https://github.com/sinka27">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 