<div class="grid-container">

    <div class="aboutus actionCards">

        <div class="wrap row small-up-1 medium-up-4">
            <h1 class="cardTitles">About ArtSea</h1>
            <hr>
            <br>
            <div class="aboutApp">
                <div class="column">

                </div>
                <div class="column">
                    <p>Meet your favorite artists at ArtSea, a place for all art lovers</p>

                    <p>Begin by creating an account so that you can view artists, art-pieces and you can like your favorite art piece or artists.</p>
                    <p>If you are an artists, create your account and upload your best creations.</p>
                </div>
                <div class="column">

                </div>
            </div>
        </div>

        <br>

        <h1 class="cardTitles">Meet the Team</h1>
        <hr>
        <br>
        <div class="grid-x grid-margin-x">
            <div class="medium-6 large-3 small-6 cell">
                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Chrissie Sparling</h4>
                    </div>
                    <div class="card-section">
                        <a target="blank" href="https://github.com/ChrissieSparling">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="medium-6 large-3 small-6 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Bernardo Dibildox</h4>
                    </div>
                    <div class="card-section">
                        <a target="blank" href="https://github.com/bdibil">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="medium-6 large-3 small-6 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Heather Loop</h4>
                    </div>
                    <div class="card-section">
                        <a target="blank" href="https://github.com/hloop132">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="medium-6 large-3 small-6 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4 class="ournames">Parul Raj</h4>
                    </div>
                    <div class="card-section">
                        <a target="blank" href="https://github.com/sinka27">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>