 <!-- artist form -->
    <div class="card">
      <div class="card-header">
        <h2>Artist Profile</h2>
      </div>
      <form id="art-form" class="card-body">
        <div>
          <label for="username-input-login">Company</label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
          <label for="username-input-login"></label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
          <label for="username-input-login">Enter a Category</label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
        
        <!-- phot upload for art form -->
        <div>
          <p>Upload Photos</p>
          <label for="username-input-login"></label>
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" />
            <input type="submit" />
          </form>
        </div>

        <!-- submit button for art form  -->
       <div>
        <div>
          <label for="username-input-login"></label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
        <button type="submit" id="login-btn" class="btn">Enter</button>
        <p class="correctInfo">Is all your information correct?</p>
      </form>
    </div>