{{> latest }}
{{> mostLiked }}
<div class="gallery" style="width: 100%;">
     <div class="dropdownMenus col-md-12" style="width: max-content">
         <div class='form-field'>
             <label for='category'>Art Types</label>
             <select id='category' class='form-control'>
                 <option>Choose Art Types</option>
                 {{#each artTypes}}
                     <option value="{{this}}">{{this}}</option>
                 {{/each}}
             </select>
         </div>
     </div>

     <div class="dropdownMenus col-md-12" style="width: max-content">
         <div class='form-field'>
             <label for='artists'>Artists</label>
             <select id='artists' class='form-control'>
                 <option>Choose Artists</option>
                 {{#each artistNames}}
                     <option value="{{this}}">{{this}}</option>
                 {{/each}}
             </select>
         </div>
     </div>
 </div>

{{> artCards}}
