<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Museum</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Compiled and minified CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/jass.css" />
    <!-- Compiled and minified JavaScript -->
  </head>

  <body>
    <!-- artist form -->
    <!-- <div class="card">
      <div class="card-header">
        <h2>Artist Profile</h2>
      </div>
      <form id="login-form" class="card-body">
        <div>
          <label for="username-input-login">Company</label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
          <label for="username-input-login">Your Name</label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
          <label class="category-form" for="username-input-login">Enter a Category</label>
          <input type="text" id="username-input-login" />
        </div>
        <div> -->
        


        <!-- phot upload for art form -->
        <!-- <div>
          <p>Upload Photos</p>
          <label for="username-input-login"></label>
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" />
            <input type="submit" />
          </form>
        </div> -->

        <!-- submit button for art form  -->
       <!-- <div>
        <div>
          <label for="username-input-login"></label>
          <input type="text" id="username-input-login" />
        </div>
        <div>
        <button type="submit" id="login-btn" class="btn">Enter</button>
        <p class="correctInfo">Is all your information correct?</p>
      </form>
    </div> -->

    <!-- gallery -->
    <!-- <div class="row">

      <div class="col s1 m3 l4"> 
        <div class="row">
          <div class="col s1 m3"> -->
    <!-- stone circles -->
    <!-- <div class="card">
              <div class="card-image">
                <img src="public/images/BreeRose.jpg">
              </div>
              <div class="card-content">
                <span class="card-title">Stone Circles</span>
                <p>Bree Rose</p>
                <p>Apothecary</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div> -->
    <!-- co op creations -->
    <!-- <div class="card">
                <div class="card-image">
                  <img src="public/images/CoOpCreations.jpeg">
                </div>
                <div class="card-content">
                  <span class="card-title">Co-Op Creations</span>
                  <p>Bree Rose</p>
                  <p>Apothecary</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>

          </div>
        </div>

      </div> -->
  <!-- </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="public/js/art_form.js"></script>
</html> -->
