{{!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
<div class="dropdownMenus col-md-12">
  <div class='form-field'>
    <label for='category'>Art Types</label>
    <select id='category' class='form-control'>
      <option>Choose Art Types</option>
      {{#each shoes}}
      <option value="{{this}}">{{this.brand}}</option>
      {{/each}}
    </select>
  </div> --}}